@font-face {
  font-family: "InterMedium";
  src: url('Inter-Medium.woff') format('woff');
}

  body {
    margin-left: 0;
    margin-right: 0;
  }

  .parent {
    display: grid;
    grid-template: auto 1fr auto / 10% auto 10%;
  }
  
  header {
    padding: 1rem;
    grid-column: 1 / 4;
    background-color: lightgray;
    border-radius: 1em;
  }

  .left-side {
    grid-column: 1 / 2;
  }

  main {
    grid-column: 2 / 3;
  }

  main .content {
    padding-left: 1em;
    border-radius: 1em;
    border: 2px rgb(174, 224, 255);
    border-style: solid;
    box-shadow: 3px 3px rgb(217, 240, 255);
    object-fit: contain;
    margin-top: .5em;
  }

  .content img {
    max-width: 70vw;
    max-height: 40vh;
    padding-right: 1em;
  }

  .right-side {
    grid-column: 3 / 4;
  }

  footer {
    grid-column: 1 / 4;
  }