@font-face {
  font-family: "InterMedium";
  src: url('Inter-Medium.woff') format('woff');
}

  .parent {
    display: grid;
    grid-template: auto 1fr auto / 7em auto 7em;
  }
  
  header {
    padding: 1rem;
    grid-column: 1 / 4;
    background-color: lightgray;
    border-radius: 1em;
  }

  .left-side {
    grid-column: 1 / 2;
  }

  main {
    grid-column: 2 / 3;
  }

  .right-side {
    grid-column: 3 / 4;
  }

  footer {
    grid-column: 1 / 4;
  }